@font-face {
    font-family: FONT_INTER;
    src: url(/_next/static/media/ff710c092db72df4-s.p.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: FONT_INTER Fallback;
    src: local("Arial");
    ascent-override:89.79%;descent-override:22.36%;line-gap-override:0.00%;size-adjust:107.89%}

._font-inter {
    font-family: FONT_INTER,FONT_INTER Fallback
}